/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 1rem/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }


header { 
    display: block;
}

.navbar-brand{
  font-size: 1rem;
  font-weight: 900;
}

a {
  text-decoration: none;
}

h1,h2,h3{
  font-weight: 900;
}


@media all and (min-width: 800px) {
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }

}
.ImageGrid > a {
    padding: 4px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33%;
    -ms-flex: 1 0 33.33%;
    flex: 1 0 33.33%;
}
.thmb{
    width:300px;
    height:300px;
    object-fit: cover;
    overflow: hidden;
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.avatar{
   width: 120px; 
   height: 120px;
   border-radius: 60px;
}

.img-portfolio{
  height: 200px;
  border-radius: 3px;
}

h1{
  font-size: 60px;
}

/* WIDE DESKTOP */
@media (min-width: 1200px){
.card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}
}

/* DESKTOP LG*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
}

/*TABLETS*/
@media (min-width: 768px) and (max-width: 991.98px) {
.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
}

/*MOBILE*/
@media (max-width: 767.98px){
.card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

h1{
  font-size: 40px;
}
}

.card{border: none;}

.nav-link{
  color: #007bff;
}